[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.1.1"
sqlalchemy = "==2.0.22"
pyodbc = "==5.0.1"

[dev-packages]

[requires]
python_version = "3.11"
